 

body{
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	font-family: helvetica, sans-serif;
	user-select: none;
	
}
.container-outer{
	margin-top: 100px;
	border: 5px solid #5e5d5d;
	/* height: 580px; */
	height: auto;
	width: 300px;
	background-color: #827f7f;
	border-radius: 10px;
	
	
}
.container-inner{
	
	margin: 0 auto;
    margin-top: 5px; 
	display: flex; 
	flex-direction: column; 
	flex-wrap: wrap; 
	align-items: center;
	height: auto;
	/* height: 567px; */
	width: auto;
	background-color:#474747;
	border: 1px solid #a6a6a6;
	border-radius: 5px;
	

}  

.screen{
	max-height: auto;
	min-height: 80px;
	width: 98%;
	margin: 3px;
	border-radius: 3px;
	background-color: #738c7e;
	/* display: inline-block; */
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	overflow: hidden;
	text-align: right;
	
	
}
button{
	height: 80px;
	width: 69px;
	padding:0;
	margin: auto;
	font-size: 29px;
	color: #fff;
	border-radius: 4px;
	background-color: #3d3d3d;
	transition: 0.3s;
   
}
button:hover {
	background-color: #694848;
}

.previous{
	display: block;
	margin-right: 3px;
	text-align: right;
	font-size: 20px;

}
.current{
	
	height: auto;
	font-size: 37px;
	margin-right: 5px;
	/* margin-bottom: 5px; */
	/* padding: 2px; */
	width: 100%;
	animation: blinkZero 1s infinite;
	
}
@keyframes blinkZero {
	0% {
		opacity: 0;
	}
}

.advance{
	display: none;
}
.power {
	font-size: 18px;
	animation: blinkZero 1s infinite;
}
.powerNum {
	font-size: 40px;
}
